<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.access.mapper.AccessMdbLogsMapper">

    <resultMap type="AccessMdbLogs" id="AccessMdbLogsResult">
        <result property="id"    column="id"    />
        <result property="ts"    column="ts"    />
        <result property="type"    column="type"    />
        <result property="tid"    column="tid"    />
        <result property="pid"    column="pid"    />
        <result property="len"    column="len"    />
        <result property="uid"    column="uid"    />
        <result property="func"    column="func"    />
        <result property="addr"    column="addr"    />
        <result property="number"    column="number"    />
    </resultMap>

    <sql id="selectAccessMdbLogsVo">
        select id, ts, type, tid, pid, len, uid, func, addr, number from access_mdb_logs
    </sql>

    <select id="selectAccessMdbLogsList" parameterType="AccessMdbLogs" resultMap="AccessMdbLogsResult">
        <include refid="selectAccessMdbLogsVo"/>
        <where>
            <if test="ts != null "> and ts = #{ts}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="tid != null  and tid != ''"> and tid = #{tid}</if>
            <if test="pid != null  and pid != ''"> and pid = #{pid}</if>
            <if test="len != null  and len != ''"> and len = #{len}</if>
            <if test="uid != null  and uid != ''"> and uid = #{uid}</if>
            <if test="func != null  and func != ''"> and func = #{func}</if>
            <if test="addr != null  and addr != ''"> and addr = #{addr}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
        </where>
        order by ts DESC
    </select>

    <select id="selectAccessMdbLogsById" parameterType="Long" resultMap="AccessMdbLogsResult">
        <include refid="selectAccessMdbLogsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAccessMdbLogs" parameterType="AccessMdbLogs" useGeneratedKeys="true" keyProperty="id">
        insert into access_mdb_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ts != null">ts,</if>
            <if test="type != null">type,</if>
            <if test="tid != null">tid,</if>
            <if test="pid != null">pid,</if>
            <if test="len != null">len,</if>
            <if test="uid != null">uid,</if>
            <if test="func != null">func,</if>
            <if test="addr != null">addr,</if>
            <if test="number != null">number,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ts != null">#{ts},</if>
            <if test="type != null">#{type},</if>
            <if test="tid != null">#{tid},</if>
            <if test="pid != null">#{pid},</if>
            <if test="len != null">#{len},</if>
            <if test="uid != null">#{uid},</if>
            <if test="func != null">#{func},</if>
            <if test="addr != null">#{addr},</if>
            <if test="number != null">#{number},</if>
        </trim>
    </insert>

    <update id="updateAccessMdbLogs" parameterType="AccessMdbLogs">
        update access_mdb_logs
        <trim prefix="SET" suffixOverrides=",">
            <if test="ts != null">ts = #{ts},</if>
            <if test="type != null">type = #{type},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="len != null">len = #{len},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="func != null">func = #{func},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="number != null">number = #{number},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccessMdbLogsById" parameterType="Long">
        delete from access_mdb_logs where id = #{id}
    </delete>

    <delete id="deleteAccessMdbLogsByIds" parameterType="String">
        delete from access_mdb_logs where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="clear">
        truncate table access_mdb_logs
    </update>

    <select id="countSize" resultType="java.lang.Integer">
        select count(1) from access_mdb_logs
    </select>

    <delete id="deleteBefore" >
        delete from access_ctl_logs where ts &lt;= #{endTime}
    </delete>
</mapper>